<template>
  <div class="admin-post-page">
    <section class="update-form">
      <AdminPostForm :post="loadedPost" @submit="onSubmitted" />
    </section>
  </div>
</template>

<script>
import AdminPostForm from '@/components/Admin/AdminPostForm'

export default {
  layout: 'admin',
  middleware: ['check-auth', 'auth'],
  components: {
    AdminPostForm
  },
  computed: {
    loadedPost() {
      const id = this.$route.params.id
      return this.$store.state.loadedPosts[id]
    }
  },
  async fetch({ store, params }) {
    await store.dispatch('getPost', params.id)
  },
  methods: {
    async onSubmitted(editedPost) {
      await this.$store.dispatch('updatePost', editedPost)
      this.$router.push('/admin')
    }
  }
}
</script>

<style scoped>
.update-form {
  width: 90%;
  margin: 20px auto;
}
@media (min-width: 768px) {
  .update-form {
    width: 500px;
  }
}
</style>
