<template>
  <div class="admin-page">
    <section class="new-post">
      <AppButton @click="handleCreatePostButton">Create Post</AppButton>
      <AppButton @click="handleLogOutButton">Log out</AppButton>
    </section>
    <section class="exitsting-posts">
      <h1>Existing Posts</h1>
      <PostList :posts="loadedPosts" is-admin />
    </section>
  </div>
</template>

<script>
export default {
  layout: 'admin',
  middleware: ['check-auth', 'auth'],
  methods: {
    handleCreatePostButton() {
      this.$router.push('/admin/new-post')
    },
    handleLogOutButton() {
      this.$store.dispatch('userLogout')
      this.$router.push('/admin/auth')
    }
  },
  async fetch({ store }) {
    await store.dispatch('getPosts')
  },
  computed: {
    loadedPosts() {
      return this.$store.getters.loadedPosts
    }
  }
}
</script>

<style scoped>
.admin-page {
  padding: 20px;
}

.new-post {
  text-align: center;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

.existing-posts h1 {
  text-align: center;
}
</style>
